.container{
    background-color: gold;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}

li{
    display: inline-block;
    width: 40px;

}

nav{
    background-color: chocolate;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0;

}

li a:hover{
    background-color: darkred;
    color: white;
}

h1{
    margin: 0;

}

